* {
    font: message-box;
    font-family: century gothic;
    background-color: rgb(251, 240, 252);
}


h1 {
    font-size: 2.6em;
    color: rgb(24, 24, 87);
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 1px 2px rgb(179, 179, 241);
}

h2 {
    font-size: 1.6em;
    color: rgb(57, 57, 156);
    text-align: center;
}

p{
  font-size: 1.6em;
  color: rgb(58, 58, 185);
  text-align: center;
}

#alphabet {
  margin:15px auto;
  max-width:900px;
  text-align: center;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:40px;
  height:35px;
  padding-top:15px;
  background:rgb(193, 162, 221);
  color: rgb(2, 2, 197);
  cursor:pointer;
  border: outset 3px blue;
  border-image-width: 40%;
}
    #alphabet li:hover{
      background:rgb(2, 2, 197);
      border: inset 3px blue;
      color: rgb(193, 162, 221);
    }

    
#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display:block;
  }
  
  #my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
  }
  
  .active {
    cursor: cell;
  }

  
  #mylives{
    font-size:1.6em;
    text-align:center;
    display:block;
  }


  #hold {
      text-align: center;
  }
  
  button{
    background-color: blueviolet;
    color: white;
    border: ridge 1px blue;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
  }
    
  button:hover{
    background:blue;
    border: solid 1px blueviolet;
    color:white;
  }

  #hint {
    float: left;
    margin-left: 20%;
    padding: 20px;
  }

  #reset {
      float: left;
      margin-right: 20%;
      padding: 20px;
  }

  img {
    float: left;
    width: 33%;
}

  
  